body {
    background-color: lavender;
}

.container {
    margin-top: 30px;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
}

h2 {
    margin-top: 0;
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.form-group {
    margin-bottom: 15px;
}

form {
    max-width: 400px;
    margin: 0 auto;
}

label {
    text-align: left;
    display: block;
    margin-bottom: 5px;
    width: 100%;
}

input[type="text"], input[type="number"] {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
}

button[type="submit"] {
    margin-top: 15px;
}